// !!! HOVER !!!
.is-hovering {
  background-color: var(--hover-color) !important;
}


// Input
.el-input {

  .el-input__wrapper {
    font-size: var(--font-size-base) !important;
    border-radius: var(--border-radius-small) !important;
    color: var(--el-text-color-primary) !important;
  }
}
.el-checkbox__inner {
  --el-checkbox-border-radius: var(--border-radius-extra-small) !important;
}


// Button
.el-button {
  border-radius: var(--border-radius-extra-small) !important;

  &.is-round {
    border-radius: var(--border-radius-base) !important;
  }

  &.is-circle {
    border-radius: var(--el-border-radius-circle) !important;
  }
  &+.el-button {
    margin: 0 !important;
  }
}


// Tabs
.el-tabs__item {
  font-size: var(--el-font-size-small) !important;
}


// Select
.el-select {
  .el-select__wrapper {
    border-radius: var(--border-radius-small) !important;
  }
}


// Tags
.el-tag {
  font-weight: 500 !important;
}


// El Card
.el-card {
  border: 1px solid var(--border-color) !important;
  border-radius: var(--el-border-radius-base) !important;
}


// El Empty
.el-empty {
  .el-empty__description {
    font-weight: 500 !important;
  }
}


// El Popover
.el-popover {
  min-width: 280px !important;
  width: 100%;
  border-radius: var(--el-border-radius-base) !important;

  .el-popconfirm__main {
    line-height: 1.2;
    font-weight: 500 !important;
    margin-bottom: .625rem;

    .el-icon {
      display: none;
    }
  }
}


// El Result
.el-result {
  .el-result__title {
    font-weight: 500 !important;
  }
}


// El Table
.el-table {
  .el-table__inner-wrapper {
    .el-table__header-wrapper {
      .el-table__header {
        thead {
          tr {
            th {
              .cell {
                font-size: var(--el-font-size-small) !important;
                color: var(--el-text-color-primary) !important;
                line-height: 1.25;
              }
            }
          }
        }
      }
    }

    .el-table__body-wrapper {
      .el-table__body {
        tbody {
          .el-table__row {
            td {
              .cell {
                font-size: var(--el-font-size-small) !important;
                line-height: 1.25;
              }
            }
          }
        }
      }
    }
  }
}


// El Anchor
.el-anchor {
  .el-anchor__item {
    .el-anchor__link {
      font-size: var(--el-font-size-base) !important;
      font-weight: 700;
      color: var(--el-text-color-primary) !important;
    }

    .el-anchor__list {
      .el-anchor__item {
        .el-anchor__link {
          font-weight: 500 !important;
          color: var(--el-text-color-regular) !important;
        }
      }
    }
  }
}


// El Button
.el-button-group {
  border-radius: var(--el-border-radius-small) !important;
  overflow: hidden;

  button {
    border-radius: 0 !important;
  }
}
.el-button {
  border-radius: var(--el-border-radius-small) !important;
}


// El Alert
.el-alert {
  .el-alert__content {
    .el-alert__title {
      font-weight: 500 !important;
    }
  }
}


// El Dialog
.el-dialog {
  .el-dialog__header {
    .el-dialog__title {
      font-size: var(--font-size-medium-well) !important;
      font-weight: 700;
    }
  }
}


// El Form
.el-form-item--label-top .el-form-item__label {
  margin-bottom: 0 !important;
  font-size: var(--el-font-size-small) !important;
  font-weight: 500;
}


// El Carousel
.el-carousel {
  border-radius: var(--el-border-radius-base) !important;
}

.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .carousel-image {
    object-fit: cover; /* сохраняет пропорции и центрирует */
  }
}

// El Menu
.el-menu {
  border: none !important;
}

// El Drawer
.el-drawer__header {
  display: none !important;
}

